@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

html {
	font-family: 'Press Start 2P', cursive;
}
a {
	text-decoration: none;
}
body {
	background-color: #212529;
	box-sizing: border-box;
}
.master-container {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1%;
}
.navbar__text {
	font-size: large;
	font-weight: 300;
	color: white;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10vh;
}
nav ul {
	list-style: none;
	display: flex;
}

nav ul li a {
	font-size: 12px;
	font-weight: 200;
	padding-left: 20px;
	color: white;
	justify-content: space-evenly;
}
.avatar {
	vertical-align: middle;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.intro {
	margin-top: 5vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.intro p {
	padding: 2vh 10vw 1vw 10vw;
	text-align: center;
	font-size: 13px;
	color: white;
	font-weight: 200;
	letter-spacing: 0.5px;
}

h5 {
	color: crimson;
	text-align: center;
	font-size: small;
}
.skills {
	position: relative;
	left: 20%;
	margin-top: 20px;
	width: 50vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.skill p {
	color: cornflowerblue;
	font-size: 12px;
}
.skill {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}
.social {
	position: relative;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 9vh;
	left: 35%;
}
.social .social__icon__list i {
	padding-left: 24px;
}

@media (max-width: 990px) {
	.skill_icons {
		display: flex;
	}
	.social {
		left: 30%;
	}
}

@media (max-width: 750px) {
	.social {
		left: 25%;
	}
	.skills {
		flex-direction: column;
	}
}
